@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
}

@using (Html.BeginForm("save", "Account", FormMethod.Post, new { id = "registerForm" }))
{
    <div class="container cont" style="margin-top: 100px;">
        <div class="row">
            <div class="col-md-14">
                <!-- Personal Information Start -->
                <fieldset>
                    <!-- Form Name -->
                    <legend style="font-family: Lato; font-weight: 300; letter-spacing: 0.5px;">Account Information</legend>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label for="textinput" style="font-family: Lato; font-weight: 500;">Email Address</label><br />
                            <input type="email" id="email" class="form-control" name="email" onchange="validateEmail();" required>
                            <label id="emailError" class="label-error">@ViewBag.emailError</label>
                            <br />
                            <label for="textinput" style="font-family: Lato; font-weight: 500;">Password</label><br />
                            <input type="password" id="password" placeholder="be at least 8-32 characters" class="form-control" name="password" onchange="validatePassword();" required>
                            <label id="passwordError" class="label-error">@ViewBag.passwordError</label>
                        </div>
                        <div class="col-sm-6">
                            <label for="textinput" style="font-family: Lato; font-weight: 500;">Alternate Email <p class="optional" style="font-style: italic; font-size: 11px; color: black;">(optional)</p></label><br />
                            <input type="email" id="altEmail" class="form-control" name="altEmail" onchange="validateAltEmail();">
                            <label id="altEmailError" class="label-error">@ViewBag.emailError</label>
                        </div>
                    </div>
                </fieldset>
                <br>
                <fieldset>
                    <!-- Form Name -->
                    <legend style="font-family: Lato; font-weight: 300; letter-spacing: 0.5px;">Personal Information</legend>

                    <!-- Text input-->
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="textinput" style="font-family: Lato; font-weight: 500;">Full Name</label>
                        </div>

                        <div class="col-sm-4">
                            <input type="text" id="lastName" placeholder="Last Name" name="lastName" class="form-control" onchange="validateLastName()" required>
                            <label id="lastNameError" class="label-error">@ViewBag.lastNameError</label>
                        </div>

                        <div class="col-sm-4">
                            <input type="text" id="firstName" placeholder="First Name" name="firstName" class="form-control" onchange="validateFirstName()" required>
                            <label id="firstNameError" class="label-error">@ViewBag.firstNameError</label>
                        </div>

                        <div class="col-sm-4">
                            <input type="text" id="middleName" placeholder="Middle Name" name="middleName" class="form-control" onchange="validateMiddleName()" required>
                            <label id="middleNameError" class="label-error">@ViewBag.middleNameError</label>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label for="textinput" style="font-family: Lato; font-weight: 500;">Gender</label><br />
                            <label style="font-weight: 500; font-family: Lato;"><input type="radio" name="gender" id="genderMale" value="Male" onchange="validateGender()">&nbsp;&nbsp;Male</label>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label style="font-weight: 500; font-family: Lato;"><input type="radio" name="gender" id="genderFemale" value="Female" onchange="validateGender()">&nbsp;&nbsp;Female</label>
                            <label id="genderError" class="col-sm-12 label-error" style="margin-left:-1em;">@ViewBag.genderError</label>
                        </div>

                        <div class="col-sm-6">
                            <label for="textinput" style="font-family: Lato; font-weight: 500;">Birthday</label>
                            <input class="form-control" id="birthday" name="birthday" type="date" onchange="validateBirthday()" required>
                            <label id="birthdayError" class="label-error">@ViewBag.birthdayError</label>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label for="textinput" style="font-family: Lato; font-weight: 500;">Citizenship</label>
                            <select class="form-control" name="citizenship" id="citizenship" onchange="validateCitizenship()">
                                <option selected disabled>Select Citizenship</option>
                                <option value="Filipino">Filipino</option>
                                <option value="Chinese">Chinese</option>
                                <option value="Korean">Korean</option>
                                <option disabled><hr /></option>
                                <option value="afghan">Afghan</option>
                                <option value="albanian">Albanian</option>
                                <option value="algerian">Algerian</option>
                                <option value="american">American</option>
                                <option value="andorran">Andorran</option>
                                <option value="angolan">Angolan</option>
                                <option value="antiguans">Antiguans</option>
                                <option value="argentinean">Argentinean</option>
                                <option value="armenian">Armenian</option>
                                <option value="australian">Australian</option>
                                <option value="austrian">Austrian</option>
                                <option value="azerbaijani">Azerbaijani</option>
                                <option value="bahamian">Bahamian</option>
                                <option value="bahraini">Bahraini</option>
                                <option value="bangladeshi">Bangladeshi</option>
                                <option value="barbadian">Barbadian</option>
                                <option value="barbudans">Barbudans</option>
                                <option value="batswana">Batswana</option>
                                <option value="belarusian">Belarusian</option>
                                <option value="belgian">Belgian</option>
                                <option value="belizean">Belizean</option>
                                <option value="beninese">Beninese</option>
                                <option value="bhutanese">Bhutanese</option>
                                <option value="bolivian">Bolivian</option>
                                <option value="bosnian">Bosnian</option>
                                <option value="brazilian">Brazilian</option>
                                <option value="british">British</option>
                                <option value="bruneian">Bruneian</option>
                                <option value="bulgarian">Bulgarian</option>
                                <option value="burkinabe">Burkinabe</option>
                                <option value="burmese">Burmese</option>
                                <option value="burundian">Burundian</option>
                                <option value="cambodian">Cambodian</option>
                                <option value="cameroonian">Cameroonian</option>
                                <option value="canadian">Canadian</option>
                                <option value="cape verdean">Cape Verdean</option>
                                <option value="central african">Central African</option>
                                <option value="chadian">Chadian</option>
                                <option value="chilean">Chilean</option>
                                <option value="colombian">Colombian</option>
                                <option value="comoran">Comoran</option>
                                <option value="congolese">Congolese</option>
                                <option value="costa rican">Costa Rican</option>
                                <option value="croatian">Croatian</option>
                                <option value="cuban">Cuban</option>
                                <option value="cypriot">Cypriot</option>
                                <option value="czech">Czech</option>
                                <option value="danish">Danish</option>
                                <option value="djibouti">Djibouti</option>
                                <option value="dominican">Dominican</option>
                                <option value="dutch">Dutch</option>
                                <option value="east timorese">East Timorese</option>
                                <option value="ecuadorean">Ecuadorean</option>
                                <option value="egyptian">Egyptian</option>
                                <option value="emirian">Emirian</option>
                                <option value="equatorial guinean">Equatorial Guinean</option>
                                <option value="eritrean">Eritrean</option>
                                <option value="estonian">Estonian</option>
                                <option value="ethiopian">Ethiopian</option>
                                <option value="fijian">Fijian</option>
                                <option value="finnish">Finnish</option>
                                <option value="french">French</option>
                                <option value="gabonese">Gabonese</option>
                                <option value="gambian">Gambian</option>
                                <option value="georgian">Georgian</option>
                                <option value="german">German</option>
                                <option value="ghanaian">Ghanaian</option>
                                <option value="greek">Greek</option>
                                <option value="grenadian">Grenadian</option>
                                <option value="guatemalan">Guatemalan</option>
                                <option value="guinea-bissauan">Guinea-Bissauan</option>
                                <option value="guinean">Guinean</option>
                                <option value="guyanese">Guyanese</option>
                                <option value="haitian">Haitian</option>
                                <option value="herzegovinian">Herzegovinian</option>
                                <option value="honduran">Honduran</option>
                                <option value="hungarian">Hungarian</option>
                                <option value="icelander">Icelander</option>
                                <option value="indian">Indian</option>
                                <option value="indonesian">Indonesian</option>
                                <option value="iranian">Iranian</option>
                                <option value="iraqi">Iraqi</option>
                                <option value="irish">Irish</option>
                                <option value="israeli">Israeli</option>
                                <option value="italian">Italian</option>
                                <option value="ivorian">Ivorian</option>
                                <option value="jamaican">Jamaican</option>
                                <option value="japanese">Japanese</option>
                                <option value="jordanian">Jordanian</option>
                                <option value="kazakhstani">Kazakhstani</option>
                                <option value="kenyan">Kenyan</option>
                                <option value="kittian and nevisian">Kittian and Nevisian</option>
                                <option value="kuwaiti">Kuwaiti</option>
                                <option value="kyrgyz">Kyrgyz</option>
                                <option value="laotian">Laotian</option>
                                <option value="latvian">Latvian</option>
                                <option value="lebanese">Lebanese</option>
                                <option value="liberian">Liberian</option>
                                <option value="libyan">Libyan</option>
                                <option value="liechtensteiner">Liechtensteiner</option>
                                <option value="lithuanian">Lithuanian</option>
                                <option value="luxembourger">Luxembourger</option>
                                <option value="macedonian">Macedonian</option>
                                <option value="malagasy">Malagasy</option>
                                <option value="malawian">Malawian</option>
                                <option value="malaysian">Malaysian</option>
                                <option value="maldivan">Maldivan</option>
                                <option value="malian">Malian</option>
                                <option value="maltese">Maltese</option>
                                <option value="marshallese">Marshallese</option>
                                <option value="mauritanian">Mauritanian</option>
                                <option value="mauritian">Mauritian</option>
                                <option value="mexican">Mexican</option>
                                <option value="micronesian">Micronesian</option>
                                <option value="moldovan">Moldovan</option>
                                <option value="monacan">Monacan</option>
                                <option value="mongolian">Mongolian</option>
                                <option value="moroccan">Moroccan</option>
                                <option value="mosotho">Mosotho</option>
                                <option value="motswana">Motswana</option>
                                <option value="mozambican">Mozambican</option>
                                <option value="namibian">Namibian</option>
                                <option value="nauruan">Nauruan</option>
                                <option value="nepalese">Nepalese</option>
                                <option value="new zealander">New Zealander</option>
                                <option value="ni-vanuatu">Ni-Vanuatu</option>
                                <option value="nicaraguan">Nicaraguan</option>
                                <option value="nigerien">Nigerien</option>
                                <option value="north korean">North Korean</option>
                                <option value="northern irish">Northern Irish</option>
                                <option value="norwegian">Norwegian</option>
                                <option value="omani">Omani</option>
                                <option value="pakistani">Pakistani</option>
                                <option value="palauan">Palauan</option>
                                <option value="panamanian">Panamanian</option>
                                <option value="papua new guinean">Papua New Guinean</option>
                                <option value="paraguayan">Paraguayan</option>
                                <option value="peruvian">Peruvian</option>
                                <option value="polish">Polish</option>
                                <option value="portuguese">Portuguese</option>
                                <option value="qatari">Qatari</option>
                                <option value="romanian">Romanian</option>
                                <option value="russian">Russian</option>
                                <option value="rwandan">Rwandan</option>
                                <option value="saint lucian">Saint Lucian</option>
                                <option value="salvadoran">Salvadoran</option>
                                <option value="samoan">Samoan</option>
                                <option value="san marinese">San Marinese</option>
                                <option value="sao tomean">Sao Tomean</option>
                                <option value="saudi">Saudi</option>
                                <option value="scottish">Scottish</option>
                                <option value="senegalese">Senegalese</option>
                                <option value="serbian">Serbian</option>
                                <option value="seychellois">Seychellois</option>
                                <option value="sierra leonean">Sierra Leonean</option>
                                <option value="singaporean">Singaporean</option>
                                <option value="slovakian">Slovakian</option>
                                <option value="slovenian">Slovenian</option>
                                <option value="solomon islander">Solomon Islander</option>
                                <option value="somali">Somali</option>
                                <option value="south african">South African</option>
                                <option value="south korean">South Korean</option>
                                <option value="spanish">Spanish</option>
                                <option value="sri lankan">Sri Lankan</option>
                                <option value="sudanese">Sudanese</option>
                                <option value="surinamer">Surinamer</option>
                                <option value="swazi">Swazi</option>
                                <option value="swedish">Swedish</option>
                                <option value="swiss">Swiss</option>
                                <option value="syrian">Syrian</option>
                                <option value="taiwanese">Taiwanese</option>
                                <option value="tajik">Tajik</option>
                                <option value="tanzanian">Tanzanian</option>
                                <option value="thai">Thai</option>
                                <option value="togolese">Togolese</option>
                                <option value="tongan">Tongan</option>
                                <option value="trinidadian or tobagonian">Trinidadian or Tobagonian</option>
                                <option value="tunisian">Tunisian</option>
                                <option value="turkish">Turkish</option>
                                <option value="tuvaluan">Tuvaluan</option>
                                <option value="ugandan">Ugandan</option>
                                <option value="ukrainian">Ukrainian</option>
                                <option value="uruguayan">Uruguayan</option>
                                <option value="uzbekistani">Uzbekistani</option>
                                <option value="venezuelan">Venezuelan</option>
                                <option value="vietnamese">Vietnamese</option>
                                <option value="welsh">Welsh</option>
                                <option value="yemenite">Yemenite</option>
                                <option value="zambian">Zambian</option>
                                <option value="zimbabwean">Zimbabwean</option>
                            </select>
                            <label id="citizenshipError" class="label-error">@ViewBag.citizenshipError</label>
                        </div>

                        <div class="col-sm-6">
                            <label for="textinput" style="font-family: Lato; font-weight: 500;">Place of Birth</label>
                            <input type="text" id="birthPlace" class="form-control" name="birthPlace" onchange="validateBirthPlace();" required>
                            <label id="birthPlaceError" class="label-error">@ViewBag.birthPlaceError</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            <label for="textinput" style="font-family: Lato; font-weight: 500;">Street</label>
                            <input type="text" class="form-control" name="street" id="street" onchange="validateStreet();" required>
                            <label id="streetError" class="label-error">@ViewBag.streetError</label>
                        </div>

                        <div class="col-sm-6">
                            <label for="textinput" style="font-family: Lato; font-weight: 500;">City</label>
                            <input type="text" class="form-control" name="city" id="city" onchange="validateCity();" required>
                            <label id="cityError" class="label-error">@ViewBag.cityError</label>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="textinput" style="font-family: Lato; font-weight: 500;">Current Address</label>
                            <input type="text" class="form-control" name="address" id="address" onchange="validateAddress();" required>
                            <label id="addressError" class="label-error">@ViewBag.addressError</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12" style="padding-left:0;">
                            <div class="col-sm-6">
                                <label for="textinput" style="font-family: Lato; font-weight: 500;">Delivery Area</label><br />
                                <select class="form-control" name="delivArea" id="delivArea" onchange="validateDelivArea()">
                                    <option disabled selected>Select Delivery Area</option>
                                    <option>Metro Manila</option>
                                    <option>Africa</option>
                                    <option>Australia</option>
                                    <option>Brunei</option>
                                    <option>Canada</option>
                                    <option>Europe</option>
                                    <option>Fiji Island</option>
                                    <option>Guam</option>
                                    <option>Hongkong/Singapore</option>
                                    <option>Indonesia/Malaysia/Taiwan/Thailand</option>
                                    <option>Japan</option>
                                    <option>Luzon</option>
                                    <option>Mexico City</option>
                                    <option>Middle East</option>
                                    <option>Mindanao</option>
                                    <option>New Zealand</option>
                                    <option>Papua New Guinea</option>
                                    <option>South America</option>
                                    <option>USA</option>
                                    <option>Vietnam</option>
                                    <option>Visayas</option>
                                </select>
                                <label id="delivAreaError" class="label-error">@ViewBag.delivAreaError</label>
                            </div>

                            <div class="col-sm-6">
                                <p style="margin-top: 25px; font-style:italic;">* For delivery information purposes only</p>
                            </div>
                        </div>
                    </div>
                    <br />
                    <!-- Text input-->
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label for="textinput" style="font-family: Lato; font-weight: 500;">Country</label><br />
                            <select class="form-control" name="country" id="country" onchange="validateCountry()">
                                <option disabled selected>Select Country</option>
                                <option value="Philippines">Philippines</option>
                                <option value="China">China</option>
                                <option value="South Korea">South Korea</option>
                                <option disabled><hr /></option>
                                <option value="Afganistan">Afghanistan</option>
                                <option value="Albania">Albania</option>
                                <option value="Algeria">Algeria</option>
                                <option value="American Samoa">American Samoa</option>
                                <option value="Andorra">Andorra</option>
                                <option value="Angola">Angola</option>
                                <option value="Anguilla">Anguilla</option>
                                <option value="Antigua &amp; Barbuda">Antigua &amp; Barbuda</option>
                                <option value="Argentina">Argentina</option>
                                <option value="Armenia">Armenia</option>
                                <option value="Aruba">Aruba</option>
                                <option value="Australia">Australia</option>
                                <option value="Austria">Austria</option>
                                <option value="Azerbaijan">Azerbaijan</option>
                                <option value="Bahamas">Bahamas</option>
                                <option value="Bahrain">Bahrain</option>
                                <option value="Bangladesh">Bangladesh</option>
                                <option value="Barbados">Barbados</option>
                                <option value="Belarus">Belarus</option>
                                <option value="Belgium">Belgium</option>
                                <option value="Belize">Belize</option>
                                <option value="Benin">Benin</option>
                                <option value="Bermuda">Bermuda</option>
                                <option value="Bhutan">Bhutan</option>
                                <option value="Bolivia">Bolivia</option>
                                <option value="Bonaire">Bonaire</option>
                                <option value="Bosnia &amp; Herzegovina">Bosnia &amp; Herzegovina</option>
                                <option value="Botswana">Botswana</option>
                                <option value="Brazil">Brazil</option>
                                <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
                                <option value="Brunei">Brunei</option>
                                <option value="Bulgaria">Bulgaria</option>
                                <option value="Burkina Faso">Burkina Faso</option>
                                <option value="Burundi">Burundi</option>
                                <option value="Cambodia">Cambodia</option>
                                <option value="Cameroon">Cameroon</option>
                                <option value="Canada">Canada</option>
                                <option value="Canary Islands">Canary Islands</option>
                                <option value="Cape Verde">Cape Verde</option>
                                <option value="Cayman Islands">Cayman Islands</option>
                                <option value="Central African Republic">Central African Republic</option>
                                <option value="Chad">Chad</option>
                                <option value="Channel Islands">Channel Islands</option>
                                <option value="Chile">Chile</option>
                                <option value="Christmas Island">Christmas Island</option>
                                <option value="Cocos Island">Cocos Island</option>
                                <option value="Colombia">Colombia</option>
                                <option value="Comoros">Comoros</option>
                                <option value="Congo">Congo</option>
                                <option value="Cook Islands">Cook Islands</option>
                                <option value="Costa Rica">Costa Rica</option>
                                <option value="Cote DIvoire">Cote D'Ivoire</option>
                                <option value="Croatia">Croatia</option>
                                <option value="Cuba">Cuba</option>
                                <option value="Curaco">Curacao</option>
                                <option value="Cyprus">Cyprus</option>
                                <option value="Czech Republic">Czech Republic</option>
                                <option value="Denmark">Denmark</option>
                                <option value="Djibouti">Djibouti</option>
                                <option value="Dominica">Dominica</option>
                                <option value="Dominican Republic">Dominican Republic</option>
                                <option value="East Timor">East Timor</option>
                                <option value="Ecuador">Ecuador</option>
                                <option value="Egypt">Egypt</option>
                                <option value="El Salvador">El Salvador</option>
                                <option value="Equatorial Guinea">Equatorial Guinea</option>
                                <option value="Eritrea">Eritrea</option>
                                <option value="Estonia">Estonia</option>
                                <option value="Ethiopia">Ethiopia</option>
                                <option value="Falkland Islands">Falkland Islands</option>
                                <option value="Faroe Islands">Faroe Islands</option>
                                <option value="Fiji">Fiji</option>
                                <option value="Finland">Finland</option>
                                <option value="France">France</option>
                                <option value="French Guiana">French Guiana</option>
                                <option value="French Polynesia">French Polynesia</option>
                                <option value="French Southern Ter">French Southern Ter</option>
                                <option value="Gabon">Gabon</option>
                                <option value="Gambia">Gambia</option>
                                <option value="Georgia">Georgia</option>
                                <option value="Germany">Germany</option>
                                <option value="Ghana">Ghana</option>
                                <option value="Gibraltar">Gibraltar</option>
                                <option value="Great Britain">Great Britain</option>
                                <option value="Greece">Greece</option>
                                <option value="Greenland">Greenland</option>
                                <option value="Grenada">Grenada</option>
                                <option value="Guadeloupe">Guadeloupe</option>
                                <option value="Guam">Guam</option>
                                <option value="Guatemala">Guatemala</option>
                                <option value="Guinea">Guinea</option>
                                <option value="Guyana">Guyana</option>
                                <option value="Haiti">Haiti</option>
                                <option value="Hawaii">Hawaii</option>
                                <option value="Honduras">Honduras</option>
                                <option value="Hong Kong">Hong Kong</option>
                                <option value="Hungary">Hungary</option>
                                <option value="Iceland">Iceland</option>
                                <option value="India">India</option>
                                <option value="Indonesia">Indonesia</option>
                                <option value="Iran">Iran</option>
                                <option value="Iraq">Iraq</option>
                                <option value="Ireland">Ireland</option>
                                <option value="Isle of Man">Isle of Man</option>
                                <option value="Israel">Israel</option>
                                <option value="Italy">Italy</option>
                                <option value="Jamaica">Jamaica</option>
                                <option value="Japan">Japan</option>
                                <option value="Jordan">Jordan</option>
                                <option value="Kazakhstan">Kazakhstan</option>
                                <option value="Kenya">Kenya</option>
                                <option value="Kiribati">Kiribati</option>
                                <option value="Kuwait">Kuwait</option>
                                <option value="Kyrgyzstan">Kyrgyzstan</option>
                                <option value="Laos">Laos</option>
                                <option value="Latvia">Latvia</option>
                                <option value="Lebanon">Lebanon</option>
                                <option value="Lesotho">Lesotho</option>
                                <option value="Liberia">Liberia</option>
                                <option value="Libya">Libya</option>
                                <option value="Liechtenstein">Liechtenstein</option>
                                <option value="Lithuania">Lithuania</option>
                                <option value="Luxembourg">Luxembourg</option>
                                <option value="Macau">Macau</option>
                                <option value="Macedonia">Macedonia</option>
                                <option value="Madagascar">Madagascar</option>
                                <option value="Malaysia">Malaysia</option>
                                <option value="Malawi">Malawi</option>
                                <option value="Maldives">Maldives</option>
                                <option value="Mali">Mali</option>
                                <option value="Malta">Malta</option>
                                <option value="Marshall Islands">Marshall Islands</option>
                                <option value="Martinique">Martinique</option>
                                <option value="Mauritania">Mauritania</option>
                                <option value="Mauritius">Mauritius</option>
                                <option value="Mayotte">Mayotte</option>
                                <option value="Mexico">Mexico</option>
                                <option value="Midway Islands">Midway Islands</option>
                                <option value="Moldova">Moldova</option>
                                <option value="Monaco">Monaco</option>
                                <option value="Mongolia">Mongolia</option>
                                <option value="Montserrat">Montserrat</option>
                                <option value="Morocco">Morocco</option>
                                <option value="Mozambique">Mozambique</option>
                                <option value="Myanmar">Myanmar</option>
                                <option value="Nambia">Nambia</option>
                                <option value="Nauru">Nauru</option>
                                <option value="Nepal">Nepal</option>
                                <option value="Netherland Antilles">Netherland Antilles</option>
                                <option value="Netherlands">Netherlands (Holland, Europe)</option>
                                <option value="Nevis">Nevis</option>
                                <option value="New Caledonia">New Caledonia</option>
                                <option value="New Zealand">New Zealand</option>
                                <option value="Nicaragua">Nicaragua</option>
                                <option value="Niger">Niger</option>
                                <option value="Nigeria">Nigeria</option>
                                <option value="Niue">Niue</option>
                                <option value="Norfolk Island">Norfolk Island</option>
                                <option value="North Korea">North Korea</option>
                                <option value="Norway">Norway</option>
                                <option value="Oman">Oman</option>
                                <option value="Pakistan">Pakistan</option>
                                <option value="Palau Island">Palau Island</option>
                                <option value="Palestine">Palestine</option>
                                <option value="Panama">Panama</option>
                                <option value="Papua New Guinea">Papua New Guinea</option>
                                <option value="Paraguay">Paraguay</option>
                                <option value="Peru">Peru</option>
                                <option value="Pitcairn Island">Pitcairn Island</option>
                                <option value="Poland">Poland</option>
                                <option value="Portugal">Portugal</option>
                                <option value="Puerto Rico">Puerto Rico</option>
                                <option value="Qatar">Qatar</option>
                                <option value="Republic of Montenegro">Republic of Montenegro</option>
                                <option value="Republic of Serbia">Republic of Serbia</option>
                                <option value="Reunion">Reunion</option>
                                <option value="Romania">Romania</option>
                                <option value="Russia">Russia</option>
                                <option value="Rwanda">Rwanda</option>
                                <option value="St Barthelemy">St Barthelemy</option>
                                <option value="St Eustatius">St Eustatius</option>
                                <option value="St Helena">St Helena</option>
                                <option value="St Kitts-Nevis">St Kitts-Nevis</option>
                                <option value="St Lucia">St Lucia</option>
                                <option value="St Maarten">St Maarten</option>
                                <option value="St Pierre &amp; Miquelon">St Pierre &amp; Miquelon</option>
                                <option value="St Vincent &amp; Grenadines">St Vincent &amp; Grenadines</option>
                                <option value="Saipan">Saipan</option>
                                <option value="Samoa">Samoa</option>
                                <option value="Samoa American">Samoa American</option>
                                <option value="San Marino">San Marino</option>
                                <option value="Sao Tome &amp; Principe">Sao Tome &amp; Principe</option>
                                <option value="Saudi Arabia">Saudi Arabia</option>
                                <option value="Senegal">Senegal</option>
                                <option value="Serbia">Serbia</option>
                                <option value="Seychelles">Seychelles</option>
                                <option value="Sierra Leone">Sierra Leone</option>
                                <option value="Singapore">Singapore</option>
                                <option value="Slovakia">Slovakia</option>
                                <option value="Slovenia">Slovenia</option>
                                <option value="Solomon Islands">Solomon Islands</option>
                                <option value="Somalia">Somalia</option>
                                <option value="South Africa">South Africa</option>
                                <option value="Spain">Spain</option>
                                <option value="Sri Lanka">Sri Lanka</option>
                                <option value="Sudan">Sudan</option>
                                <option value="Suriname">Suriname</option>
                                <option value="Swaziland">Swaziland</option>
                                <option value="Sweden">Sweden</option>
                                <option value="Switzerland">Switzerland</option>
                                <option value="Syria">Syria</option>
                                <option value="Tahiti">Tahiti</option>
                                <option value="Taiwan">Taiwan</option>
                                <option value="Tajikistan">Tajikistan</option>
                                <option value="Tanzania">Tanzania</option>
                                <option value="Thailand">Thailand</option>
                                <option value="Togo">Togo</option>
                                <option value="Tokelau">Tokelau</option>
                                <option value="Tonga">Tonga</option>
                                <option value="Trinidad &amp; Tobago">Trinidad &amp; Tobago</option>
                                <option value="Tunisia">Tunisia</option>
                                <option value="Turkey">Turkey</option>
                                <option value="Turkmenistan">Turkmenistan</option>
                                <option value="Turks &amp; Caicos Is">Turks &amp; Caicos Is</option>
                                <option value="Tuvalu">Tuvalu</option>
                                <option value="Uganda">Uganda</option>
                                <option value="Ukraine">Ukraine</option>
                                <option value="United Arab Erimates">United Arab Emirates</option>
                                <option value="United Kingdom">United Kingdom</option>
                                <option value="United States of America">United States of America</option>
                                <option value="Uraguay">Uruguay</option>
                                <option value="Uzbekistan">Uzbekistan</option>
                                <option value="Vanuatu">Vanuatu</option>
                                <option value="Vatican City State">Vatican City State</option>
                                <option value="Venezuela">Venezuela</option>
                                <option value="Vietnam">Vietnam</option>
                                <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
                                <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
                                <option value="Wake Island">Wake Island</option>
                                <option value="Wallis &amp; Futana Is">Wallis &amp; Futana Is</option>
                                <option value="Yemen">Yemen</option>
                                <option value="Zaire">Zaire</option>
                                <option value="Zambia">Zambia</option>
                                <option value="Zimbabwe">Zimbabwe</option>
                            </select>
                            <label id="countryError" class="label-error">@ViewBag.countryError</label>
                        </div>

                        <div class="col-sm-6">
                            <label for="textinput" style="font-family: Lato; font-weight: 500;">Zip Code</label>
                            <input type="text" class="form-control" name="zipCode" id="zipCode" onchange="validateZipCode();" required>
                            <label id="zipCodeError" class="label-error">@ViewBag.zipCodeError</label>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label for="textinput" style="font-family: Lato; font-weight: 500;">Cellphone Number</label>
                            <input type="text" maxlength="20" placeholder="any country number format" class="form-control" name="phoneNumber" id="phoneNumber" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" onchange="validatePhone()" required>
                            <label id="phoneNumberError" class="label-error">@ViewBag.phoneNumError</label>
                        </div>

                        <div class="col-sm-6">
                            <label style="font-family: Lato; font-weight: 500;" for="textinput">Alternate Number <p class="optional" style="font-style: italic; font-size: 11px; color: black;">(optional)</p></label>
                            <input type="text" placeholder="any country number format" maxlength="20" class="form-control" name="altPhoneNumber" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" id="altPhoneNumber" onchange="validateAltPhone()">
                            <label id="altPhoneNumberError" class="label-error">@ViewBag.altPhoneNumberError</label>

                        </div>
                    </div>
                </fieldset>
                <!-- Personal Information End -->
                <br>
                <!-- Academic Information Start -->
                <fieldset>
                    <!-- Form Name -->
                    <legend style="font-family: Lato; font-weight: 300;">Academic Information</legend>

                    <!-- Text input-->

                    <div class="form-group">
                        <div class="col-sm-12">
                            <label class="col-sm-12 label-category" style="padding-bottom: 10px; font-weight: 500;">High School Information</label><br />
                            <hr />
                        </div>

                        <div class="col-sm-12">
                            <label for="textinput" style="font-family: Lato; font-weight: 500;">High School</label>
                            <input type="text" class="form-control" name="highSchool" id="highSchool" onchange="validateHighSchool();" required>
                            <label id="highSchoolError" class="label-error">@ViewBag.highSchoolError</label>
                        </div>
                    </div>

                    <!-- Text input-->

                    <div class="form-group">
                        <br />
                        <div class="col-sm-12">
                            <label class="col-sm-12 label-category" style="padding-bottom: 10px; font-weight: 500;">College Information</label><br />
                            <hr />
                        </div>

                        <div class="col-sm-6">
                            <label for="textinput" style="font-family: Lato; font-weight: 500;">Level</label><br />
                            <select class="form-control" id="degreeLevel" name="degreeLevel" onchange="validateDegreeLevel();">
                                <option disabled selected>Select Degree Level</option>
                                <option value="bachelor" id="bachelor">Bachelor's</option>
                                <option value="masteral" id="masteral">Masteral</option>
                                <option value="doctorate" id="doctorate">Doctorate</option>
                            </select>
                            <label id="degreeLevelError" class="label-error">@ViewBag.degreeLevelError</label>
                        </div>

                        <div class="col-sm-6">
                            <label for="textinput" style="font-family: Lato; font-weight: 500;">ID Number <p class="optional" style="font-style: italic; font-size: 11px; color: black;">(optional)</p></label>
                            <input type="text" class="form-control" name="idNumber" id="idNumber" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;">
                            <label id="IdNumberError" class="label-error">@ViewBag.IdNumberError</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="textinput" style="font-family: Lato; font-weight: 500;">College</label>
                            <select class="form-control" id="college" name="college" data-placement="top" onchange="updateCourses(this); validateCollege();">
                                <option disabled selected>Select College</option>
                                <option value='8'>Graduate Studies</option>
                                <option value='0'>Br. Andrew Gonzalez College of Education (BAGCED)</option>
                                <option value='1'>College of Computer Studies (CCS)</option>
                                <option value='2'>College of Liberal Arts (CLA)</option>
                                <option value='3'>College of Science (COS)</option>
                                <option value='4'>Gokongwei College of Engineering (GCOE)</option>
                                <option value='5'>Ramon V. del Rosario College of Business (RVRCOB)</option>
                                <option value='6'>School of Economics (SOE)</option>
                                <option value='7'>College of Law (COL)</option>
                            </select>
                            <label id="collegeError" class="label-error">@ViewBag.collegeError</label>
                        </div>

                        <div class="col-sm-12">
                            <label for="textinput" style="font-family: Lato; font-weight: 500;">Degree Program</label>
                            <input type="text" placeholder="e.g. BSCS-S, MBA" class="form-control" name="degreeProgram" id="courses" onchange="validateCourse();" required>
                            <label id="courseError" class="label-error">@ViewBag.courseError</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="textinput" style="font-family: Lato; font-weight: 500;">Graduate?</label>
                            <label id="graduatedError" class="label-error">@ViewBag.graduatedError</label>
                        </div>
                        <div class="col-sm-6">
                            <label style="margin-top: 12px; font-family: Lato; font-weight: 500;"><input type="radio" name="gradRadio" id="isGraduated" value="yes" onchange="disable()" checked>&nbsp;&nbsp;Yes, I graduated last:</label><br />
                            <div class="col-sm-8">
                                <select class="form-control" id="monthGraduate" name="monthGraduate" data-placement="top" onchange="validateGraduateMonth();">
                                    <option disabled selected>Select Month</option>
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                                <label id="graduateMonthError" class="label-error">@ViewBag.graduateMonthError</label>
                            </div>

                            <div class="col-sm-4">
                                <input class="form-control" name="yearGraduate" id="yearGraduate" placeholder="Year" type="number" min="1900" step="1" onchange="validateGraduateYear();" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;">
                                <label id="graduateYearError" class="label-error">@ViewBag.graduateYearError</label>
                            </div><br /><br />
                            <hr />
                        </div>

                        <div class="col-sm-6">
                            <label style="margin-top: 12px; font-family: Lato; font-weight: 500;">
                                <input type="radio" name="gradRadio" id="notGraduated" value="no" onchange="disable()">&nbsp;&nbsp;No, I attended DLSU on:
                            </label>
                            <br />
                            <div class="col-sm-6">
                                <select class="form-control" id="yrLvl" name="yrLvl" data-placement="top" disabled onchange="validateYrLvl();">
                                    <option disabled selected>Year Level</option>
                                    <option value="1">First Year</option>
                                    <option value="2">Second Year</option>
                                    <option value="3">Third Year</option>
                                    <option value="4">Fourth Year</option>
                                    <option value="5">Fifth Year</option>
                                    <option value="6">Sixth Year</option>
                                    <option value="7">Seventh Year</option>
                                    <option value="8">Eighth Year</option>
                                </select>
                            </div>
                            <label id="yrLvlError" class="label-error">@ViewBag.yrLvlError</label>

                            <br /><br />
                            <div class="col-sm-5">
                                <select class="form-control" id="lastTerm" name="lastTerm" data-placement="top" disabled onchange="validateTerm();">
                                    <option disabled selected>Term</option>
                                    <option value="1">1st</option>
                                    <option value="2">2nd</option>
                                    <option value="3">3rd</option>
                                </select>
                            </div>
                            Term, A.Y &nbsp;&nbsp;

                            <input type="text" placeholder="14" class="form-control" style="width: 50px; display: inline-block;" name="lastTermStart" id="lastTermStart" onchange="plusone('lastTermStart', 'lastTermEnd'); validateLastTermStart();" disabled required>
                            - <input type="text" placeholder="15" class="form-control" style="width: 50px; display: inline-block;" name="lastTermEnd" id="lastTermEnd" onkeypress="" disabled><br />
                            &nbsp;&nbsp;&nbsp;&nbsp;<label id="termError" class="label-error"></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label id="lastTermStartError" class="label-error">@ViewBag.lastTermStartError</label>
                            <hr style="margin-top: 1px;" />
                        </div>
                    </div>

                    <br /><br />
                    <div class="form-group">
                        <div class="row" style="margin-top: 12px; margin-left: 1px; margin-right: 1px;">
                            <div class="col-sm-6">
                                <label for="textinput" style="font-family: Lato; font-weight: 500;">Admitted as</label><br />

                                <label style="font-family: Lato; font-weight: 500;"><input type="radio" id="newStudent" value="newStudent"name="admissionRadio" checked onchange="isTransferee();  validateAdmittedAs();">&nbsp;&nbsp;New Student</label>
                                &nbsp; &nbsp; &nbsp;&nbsp;
                                <label style="font-family: Lato; font-weight: 500;"><input type="radio" id="transferee" value="transferee" name="admissionRadio" onchange="isTransferee(); validateAdmittedAs();">&nbsp;&nbsp;Transferee</label>
                                &nbsp; &nbsp; &nbsp;&nbsp;
                                <label style="font-family: Lato; font-weight: 500;"><input type="radio" id="crossEnrollee" value="crossEnrollee" name="admissionRadio" onchange="isTransferee(); validateAdmittedAs();">&nbsp;&nbsp;Cross Enrollee</label>
                                <br>
                                <label id="admissionError" class="label-error">@ViewBag.admissionError</label>
                            </div>

                            <div class="col-sm-6">
                                <label for="textinput" style="font-family: Lato; font-weight: 500;">Year Admitted</label><br />
                                <input class="form-control col-sm-2" style="width: 100px;" name="admissionYear" placeholder="Year" type="number" min="1900" step="1" id="yearAdmitted" onchange="validateYearAdmitted();" required>
                                &nbsp;&nbsp;<label id="admissionYearError" class="label-error">@ViewBag.admissionYearError</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row" style="margin-top: 12px; margin-left: 1px; margin-right: 1px;">
                            <div class="col-sm-6">
                                <label for="textinput" style="font-family: Lato; font-weight: 500;">Last School Attended</label><br />
                                <input type="text" class="form-control" name="lastSchool" disabled id="lastSchool" onchange="validateLastSchool();">
                                <label id="lastSchoolError" class="label-error">@ViewBag.lastSchoolError</label>
                            </div>

                            <div class="col-sm-6">
                                <label for="textinput" style="font-family: Lato; font-weight: 500;">Campus Attended</label><br />
                                <select class="form-control" id="campusAttended" name ="campusAttended" onchange="validateCampusAttended();">
                                    <option disabled selected>Select Campus</option>
                                    <option value="BGC">BGC</option>
                                    <option value="Makati">Makati</option>
                                    <option value="STC">STC</option>
                                    <option value="Taft">Taft</option>
                                </select>
                                <label id="campusAttendedError" class="label-error">@ViewBag.campusAttendedError</label>
                            </div>
                        </div>
                    </div>
                    <hr />
                </fieldset>
                <!-- Academic Information End -->
            </div><!-- /.col-lg-12 -->
            <div class="form-group">
                <label id="error" class="label-error" style="font-size: 14px;"></label>
                <input type="button" value="Register" class="btn btn-success" style="float: right; margin-left: 10px; margin-right: 15px;" onclick="validate();" />
                <input type="button" value="Back" class="btn btn-default" style="float: right;" onclick="location.href='@Url.Action("Index", "Home")'" />
            </div>
        </div><!-- /.row -->
    </div>
}